$color-primari: #F1CDB3;
$color-background: #F6F6F6;
$color-gradient-start: #211F20, #5B483A, #262425;
$color-gradient-radial: #513D2F, #1A1A1C;
$color-heading-lite: #FFFFFF;
$color-heading-dark: #545454;
$color-text-dark: #4C4C4C;
$color-text-lite: #CDCDCD;
$color-link-hover-lite: #FAFAFA;
$color-link-hover-dark: #292929;
$color-button-hover-colored: #FDDCC4;


$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;