@mixin font ($size, $height: $size, $weight: 400, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}

@mixin media-tabletmax {
    @media (max-width: $tabletmax-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-tabletmin {
    @media (max-width: $tabletmin-width) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}