footer {
    background: url(noise_lines_../assets/img/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%,
     #513D2F 0%, #1A1A1C 100%), #211F20;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
}

.footer__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
    padding: 16px 0;
    @include media-mobile {
        @include font($height: 3.2rem, $size: 2.5rem);
        letter-spacing: 0.06em;
        padding: 0;
    }
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    width: 23.2%;
    @include media-tablet {
        width: 40%;
        padding: 0 60px 0 34px;
    }
    @include media-mobile {
        width: 100%;
        padding: 32px 11px 32px;
        text-align: center;
    }
}
.footer__locations {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    //align-items: center;
    width: 25.17%;
    @include media-tablet {
        width: 45.5%;
    }
    @include media-mobile {
        width: 100%;
        padding: 0 11px 0;
        text-align: center;
    }
}
.footer__pictur {
    @include media-mobile {
        width: 260px;
        height: 269px;
    }
}
.icon-place {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.icon_location {
    cursor: pointer;
    display: inline-block;
    background-image: url(../assets/svg/pin.svg);
    width: 22px;
    height: 32px;
    
}
.icon_location:hover {
    color: $color-button-hover-colored;
}
.icon-letter {
    cursor: pointer;
    display: inline-block;
    background-image: url(../assets/svg/mail.svg);
    width: 40px;
    height: 26px;
}
.icon-letter:hover {
    color: $color-button-hover-colored;
}
.icon-phone {
    cursor: pointer;
    background-image: url(../assets/svg/phone.svg);
    width: 40px;
    height: 32px;
}
.icon-phone:hover {
    color: $color-button-hover-colored;
}
.link_footer {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    @include media-mobile {
        margin: 0 auto;
    }
}
.link_footer:hover {
    color: $color-button-hover-colored;
}
.contacts_link {
    display: inline-flex;
    align-items: center;
}
