.wrapper {
    max-width: $content-width;
    margin: auto;
    
}
.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.start__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 100px;
}
.pets__wrapper {
    padding: 65px 0 100px 0;
    text-align: center;
}
.help__wrapper {
    text-align: center;
    margin-top: 80px;
}
.donation__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 183px 100px 183px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}
.navigation {
    display: flex;
    font-size: 15px;
    line-height: 160%;
    color: $color-text-lite;
}
.navigation__link {
    list-style: none;
    margin-left: 35px;
    cursor: pointer;
    transition: all .3s ease-out;
    scroll-behavior: smooth;
}
.navigation__link-lite {
    list-style: none;
    margin-left: 35px;
    cursor: pointer;
    transition: all .3s ease-out;
    scroll-behavior: smooth;
}
.navigation__link:first-child {
    padding-left: 0;
}
.navigation__link:hover {
    color: $color-link-hover-lite;
    transition: all .3s ease-out;
    scroll-behavior: smooth;
}
.navigation__link-lite:hover {
    color: $color-link-hover-dark;
    transition: all .3s ease-out;
    scroll-behavior: smooth;
}
