img.about__image {
    margin: 0 120px 0 215px ;
}
.about__content {
    margin: 25px 135px 14px 0;
}
.about__title {
    margin: 0;
    padding: 0 60px 0 0;
    
}
.about__text {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;  
}