.donation {
    background: $color-background;
}

.donation__picture {
    display: flex;
    width: 505px;
    height: 261px;
    padding: 11px 30px 10px 0;
}
.donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em; 
    color: #545454;
    margin: 0;
    padding-right: 82px;
}
.donation__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 20px 0;
}
.donation__text {
    margin: 20px 0 0 0;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #B2B2B2;
}
.link-button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.link-button:hover {
    background: $color-button-hover-colored;
}
.icon-card {
    cursor: pointer;
    display: inline-block;
    background-image: url(../assets/svg/credit-card.svg);
    width: 30px;
    height: 23px;
    margin-right: 15px;
}
