.header__link {
    text-decoration: none;
    color: #CDCDCD;
    cursor: pointer;
    @extend %transition;
    scroll-behavior: smooth;
    letter-spacing: normal;
}
.header__link-lite {
    text-decoration: none;
    color: #545454;
    cursor: pointer;
    @extend %transition;
    scroll-behavior: smooth;
}
.header__link:hover {
    color: $color-link-hover-lite;
}
.header__link-lite:hover {
    color: $color-link-hover-dark;
}
.header__link_activ {
    color: $color-link-hover-lite;
    border-bottom: 3px solid $color-primari;
} 
.header__link-lite_activ {
    color: #545454;
    border-bottom: 3px solid $color-primari;
} 
.header__link:first-child {
    padding-left: 0;
}

.logo__link {
    text-decoration: none;
}
.slider-icon-prev {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 10rem;
    font-size: 2.4rem;
    cursor: pointer;
    @extend %transition;
    align-items: center;
    display: flex;
    justify-content: center;
    @include media-mobile {
        order: 2;
        margin: 20px 40px 0;
    }
}
.slider-icon-prev:hover {
    background-color: #F1CDB3;
    @extend %transition;
}
.slider-icon-next {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 10rem;
    font-size: 2.4rem;
    cursor: pointer;
    @extend %transition;
    @include media-mobile {
        order: 3;
        margin: 20px 40px 0;
    }
}
.slider-icon-next:hover {
    background-color: #F1CDB3;
    @extend %transition;
}
.slide-icon {
    display: flex;
    align-items: center;
    margin: auto;
}
.pagination_button {
    width: 48px;
    height: 48px;
    border: 2px solid rgb(241, 205, 179, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.unactived {
    border: 2px solid #CDCDCD;
    cursor: default;
}
.actived {
    background: #F1CDB3;
}
.actived_right:hover {
    background: #FDDCC4;
    border: 2px solid rgb(241, 205, 179, 0);
    transition: 0.4s;
}