.pets {
    background: $color-background;
}
.pets__title {
    margin: 0 400px;
    align-items: center;
    text-align: center;
    color: $color-heading-dark;
}
.text {
    margin: 0;
}
.pagination {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 28.3%;
}