.pets {
    background: $color-background;
}
.pets__title {
    margin: 0 400px;
    align-items: center;
    text-align: center;
    color: $color-heading-dark;
    @include media-tablet {
        margin: 0 154px 60px;
    }
    @include media-mobile {
        margin: 0 auto;
        @include font($height: 3.25rem, $size: 2.5rem);
    }
}
.ourpets_pets__title {
    @include media-tablet {
        margin: 0 154px;
    }
    @include media-mobile {
        margin: 0;
    }
}
.text {
    margin: 0;
}
.pagination {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 28.3%;
    @include media-tablet {
        width: 48%;
    }
    @include media-mobile {
        width: 93.75%;
    }
}