.body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8eeee;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-wrap {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.grid {
  background: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.cell {
  flex: 0 0 40px;
  height: 40px;
  font-size: 24px;
  border: 2px solid #ccc9c9;
  box-sizing: border-box;
}

.title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 60px;
  text-align: center;
  color: #303075;
}
.cell:hover {
  background-color: #b3b0b0;
}