@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/arial/arial-regular.ttf") format("truetype"),
      url("../assets/fonts/arial/arial-regular.woff2") format('woff2'), 
         url("../assets/fonts/arial/arial-regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@font-face {
    font-family: "Georgia";
    src: url("../assets/fonts/georgia/georgia-regular.ttf") format("truetype"),
      url("../assets/fonts/georgia/georgia-regular.woff2") format('woff2'), 
         url("../assets/fonts/georgia/georgia-regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    @extend %font-prim;
    @include font($size: 1.5rem, $height: 2.4rem, $weight: normal);
}
h1 {
    @extend %font-add;
    @include font($height: 3.5rem, $size: 3.2rem);
    letter-spacing: 0.06em;
    color: $color-primari;
    margin: 0;
}
.h1-lite {
    @extend %font-add;
    @include font($height: 3.5rem, $size: 3.2rem);
    letter-spacing: 0.06em;
    color: $color-heading-dark;
}
h2 {
    @extend %font-add;
    @include font($height: 5.7rem, $size: 4.4rem);
    @include media-mobile {
        @include font($height: 3.2rem, $size: 2.5rem);
        letter-spacing: 0.06em;
    }
}
h3 {
    @extend %font-add;
    @include font($height: 4.5rem, $size: 3.5rem);
    letter-spacing: 0.06em;
}
h4 {
    @extend %font-add;
    @include font($height: 2.3rem, $size: 2.0rem);
}
h5 {
    @extend %font-add;
    @include font($height: 1.7rem, $size: 1.5rem);
}