@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/arial/arial-regular.ttf") format("truetype"),
      url("../assets/fonts/arial/arial-regular.woff2") format('woff2'), 
         url("../assets/fonts/arial/arial-regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@font-face {
    font-family: "Georgia";
    src: url("../assets/fonts/georgia/georgia-regular.ttf") format("truetype"),
      url("../assets/fonts/georgia/georgia-regular.woff2") format('woff2'), 
         url("../assets/fonts/georgia/georgia-regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
}
h1 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primari;
    margin: 0;
}
.h1-lite {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-heading-dark;
}
h2 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}
h3 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
h4 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
h5 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}