@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/arial/arial-regular.ttf") format("truetype"),
      url("../assets/fonts/arial/arial-regular.woff2") format('woff2'), 
         url("../assets/fonts/arial/arial-regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@font-face {
    font-family: "Georgia";
    src: url("../assets/fonts/georgia/georgia-regular.ttf") format("truetype"),
      url("../assets/fonts/georgia/georgia-regular.woff2") format('woff2'), 
         url("../assets/fonts/georgia/georgia-regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
}